<div class="row">
  <input class="form-control col-md-11" type="text" [(ngModel)]="note" />
  <button class="col-md-1" (click)="AddNote()">Save</button>
</div>
<ul  class="list-group">
  <li *ngFor="let item of list"  class="list-group-item">{{item.description}} <a class="delete-icon" (click)="delete(item.id)" href="#">X</a></li>
</ul>